<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>扫码游戏平台--管理后台</title>
	<link rel="stylesheet" href="/static/admin/layui/css/layui.css">
	<link rel="stylesheet" href="/static/admin/css/main.css">
</head>

<body>
	<div class="main-layout">
		<!--侧边栏-->
		<div class="main-layout-side">
			<div class="m-logo">
			</div>
			<ul class="layui-nav layui-nav-tree" style="background-color: #444C63;" lay-filter="main-menu">
				<li data-name="user" class="layui-nav-item">
					<a href="javascript:;" lay-tips="用户管理" lay-direction="2">
						<i class="layui-icon layui-icon-user"></i>
						<cite>用户管理</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="user-manage">
							<a href="javascript:;" data-url="/page/user/user_manage" data-id="user-manage" data-text="用户展示">用户展示</a>
						</dd>
						<dd data-name="user-log">
							<a href="javascript:;" data-url="/page/user/user_log" data-id="user-log" data-text="用户日志">用户日志</a>
						</dd>
					</dl>
				</li>
				<li data-name="game" class="layui-nav-item">
					<a href="javascript:;" lay-tips="游戏管理" lay-direction="2">
						<i class="layui-icon layui-icon-cellphone"></i>
						<cite>游戏管理</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="game-session">
							<a href="javascript:;" data-url="/page/game/game_session" data-id="game-session" data-text="会话">会话</a>
						</dd>
						<dd data-name="game-day">
							<a href="javascript:;" data-url="/page/game/game_day" data-id="game-day" data-text="每日统计">每日统计</a>
						</dd>
						<dd data-name="game-manage">
							<a href="javascript:;" data-url="/page/game/game_manage" data-id="game-manage" data-text="游戏展示">游戏展示</a>
						</dd>
					</dl>
				</li>
				<li data-name="pay" class="layui-nav-item">
					<a href="javascript:;" lay-tips="支付管理" lay-direction="2">
						<i class="layui-icon layui-icon-rmb"></i>
						<cite>支付管理</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="pay-order">
							<a href="javascript:;" data-url="/page/pay/pay_order" data-id="pay-order" data-text="订单管理">订单管理</a>
						</dd>
						<dd data-name="user-recharge">
							<a href="javascript:;" data-url="/page/pay/user_recharge" data-id="user-recharge" data-text="充值记录">充值记录</a>
						</dd>
						<dd data-name="balance-log">
							<a href="javascript:;" data-url="/page/pay/balance_log" data-id="balance-log" data-text="余额变动">余额变动</a>
						</dd>
					</dl>
				</li>
				<li data-name="qrcode" class="layui-nav-item">
					<a href="javascript:;" lay-tips="二维码" lay-direction="2">
						<i class="layui-icon layui-icon-link"></i>
						<cite>二维码</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="qrcode-scan">
							<a href="javascript:;" data-url="/page/qrcode/qrcode_scan" data-id="qrcode-scan" data-text="扫码记录">扫码记录</a>
						</dd>
						<dd data-name="qrcode-manage">
							<a href="javascript:;" data-url="/page/qrcode/qrcode_manage" data-id="qrcode-manage" data-text="二维码展示">二维码展示</a>
						</dd>
					</dl>
				</li>
				<li data-name="shop" class="layui-nav-item">
					<a href="javascript:;" lay-tips="店铺管理" lay-direction="2">
						<i class="layui-icon layui-icon-cart-simple"></i>
						<cite>店铺管理</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="shop-group-manage">
							<a href="javascript:;" data-url="/page/shop/shop_group_manage" data-id="shop-group-manage" data-text="连锁品牌">连锁品牌</a>
						</dd>
						<dd data-name="shop-manage">
							<a href="javascript:;" data-url="/page/shop/shop_manage" data-id="shop-manage" data-text="店铺展示">店铺展示</a>
						</dd>
					</dl>
				</li>
				<li data-name="agent" class="layui-nav-item">
					<a href="javascript:;" lay-tips="经销商" lay-direction="2">
						<i class="layui-icon layui-icon-vercode"></i>
						<cite>经销商</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="agent-manage">
							<a href="javascript:;" data-url="/page/agent/agent_manage" data-id="agent-manage" data-text="经销商展示">经销商展示</a>
						</dd>
						<dd data-name="agent-staff-manage">
							<a href="javascript:;" data-url="/page/agent/agent_staff_manage" data-id="agent-staff-manage" data-text="经销商员工展示">经销商员工展示</a>
						</dd>
					</dl>
				</li>
				<li data-name="rests" class="layui-nav-item">
					<a href="javascript:;" lay-tips="其他" lay-direction="2">
						<i class="layui-icon layui-icon-note"></i>
						<cite>其他</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="verifying-record">
							<a href="javascript:;" data-url="/page/rests/verifying_record" data-id="verifying-record" data-text="核销记录">核销记录</a>
						</dd>
						<dd data-name="">
							<a href="javascript:;">优惠券</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<!--右侧内容-->
		<div class="main-layout-container">
			<!--头部-->
			<div class="main-layout-header">
				<div class="menu-btn">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-shrink-right"></i>
					</a>
				</div>
				<ul class="layui-nav">
					<li class="layui-nav-item">
						<a href="javascript:;" data-url="" data-text="">
							<i class="layui-icon layui-icon-log"></i>
						</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" data-url="" data-text="">{{user_name}}</a>
					</li>
					<li class="layui-nav-item"><a href="javascript:;">退出</a></li>
				</ul>
			</div>
			<!--主体内容-->
			<div class="main-layout-body">
				<!--tab 切换-->
				<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="main-tab" lay-allowClose="true">
				<ul class="layui-tab-title">
					<li class="layui-this welcome">
						<i class="layui-icon layui-icon-home"></i>
					</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show" style="background: #f5f5f5;">
						<!--1-->
						<iframe src="/page/welcome" width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
						<!--1end-->
					</div>
				</div>
			</div>
		</div>
		</div>
		<!--遮罩-->
	</div>
	<script>

	</script>
	<script src="/static/admin/layui/layui.js"></script>
	<script src="/static/admin/js/main.js"></script>
</body>

</html>