.layui-layout-admin .layui-header {
    background-color: #FFFFFF;
}
.layui-layout-admin .layui-header a {
    color: #666666;
}
.layui-layout-admin .layui-header a:hover {
    color: black;
}
.layui-layout-admin .layui-side .layui-side-scroll .layui-nav-tree li dd a { text-indent: 18px; }
.layui-tab-title {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 4px 0px;
}
.layui-tab-title li { 
    border-bottom: 3px solid #FFFFFF;
    color: #666666;
}
.layui-tab-title li .layui-tab-close {
    border-radius: 50%;
}
.layui-tab-title li .layui-tab-close:hover {
    border-radius: 50%;
}
.layui-tab-card {
    border: none;
}
.layui-tab {
    margin-top: 0px;
}
.layui-tab-card {
    box-shadow: none;
}
.layui-tab-title .layui-this:after {
    display: none;
}
.layui-tab-title .layui-this {
    color: #00B5F9;
    border-bottom: 3px solid #00B5F9;
}
