<!DOCTYPE html>
<html>
{%include "head.html" %}
{% include "script.html" %}
	<body>
		<div class="page-content-wrap">
			<form class="layui-form" action="" lay-filter="user-from">
				<div class="layui-inline">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-inline">
						<input type="text" name="user_name" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<button class="layui-btn table-search" lay-submit lay-filter="user-from">搜索</button>
			</form>
			<table class="layui-hide" id="balance_logTable" lay-filter="balance_log_table"></table>
		</div>
		<script type="text/html" id="toolbalance_log">
			<div class="layui-btn-container">
				<!-- <button class="layui-btn layui-btn-sm layui-icon layui-icon-add-1" title="新增" lay-event="add"></button> -->
				<!-- <button class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-close" title="删除"lay-event="is_enable"></button> -->
			</div>
		</script>
		<!-- <script type="text/html" id="babalance_log">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>
		</script> -->

		<script>
			layui.use(['table', 'dialog', 'jquery'], function() {
				var table = layui.table;
				var dialog = layui.dialog;
				var $ = layui.jquery;
				const active = {
					//table重载
					tableReload: function (params) {
						table.reload('balance_logTable', {
							where: {
								"search": params
							}
						});
					}
				}

				var form = layui.form;
				//初始渲染
				table.render({
					elem: '#balance_logTable'
					,url:'/api/balance_log/search'
					,method: 'post'
					,toolbar: '#toolbalance_log' //开启头部工具栏，并为其绑定左侧模板
					,title: '用户余额日志表'
					,parseData: function(res) {
						return {
							"code": res['code'],
							"msg": res['message'],
							"count": res['data']['total'],
							"data": res['data']['list']
						}
					}
					,cols: [[
						{type: 'checkbox', fixed: 'left'}
						,{field:'id', title:'id',hide:true }
						,{field:'user_id', title:'用户id',hide:true }
						,{field:'user_name', title:'用户名', }
						,{field:'before', title:'变化前的余额', }
						,{field:'after', title:'变化后的余额', }
						,{field:'change_reason', title:'变动的原因', templet:function(d){
							if(d.change_reason==1){
								return '充值'
							}else if(d.change_reason==2){
								return '消费'
							}
							else if(d.change_reason==3){
								return '赠送人'
							}
							return '其他'
						}}
						,{field:'remark', title:'变动的备注。', }
						,{field:'add_time', title:'添加时间', hide:true}
						,{field:'add_time', title:'添加时间', templet:function(d){
							return dateFns.format(d.add_time,'YYYY-MM-DD HH:mm')
						} }
					]]
					,id: 'balance_logTable'
					,page: true
				});

		
				//监听表单提交
				form.on('submit(user-from)', function(data){
					//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
					active.tableReload(data.field);
					return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
				});


	
				//监听行工具事件
				table.on('tool(balance_log_table)', function(obj){
					var layEvent = obj.event; //获得 lay-event 对应的值
					if(layEvent === 'detail'){ //查看
						layer.msg('查看');
						//弹出层引入用户详情页面
					} 
					else if(layEvent === 'is_enable'){ //删除
						
						if(obj.data.is_enable==true){
						layer.confirm(`禁用：${obj.data.balance_log_name}`, function(index){
							//向服务端发送禁用指令
							$.ajax({
								url     : `/data/balance_log?balance_log_id=eq.${obj.data.balance_log_id}`,
								type    : "PATCH",
								dataType: "json",
								data    : JSON.stringify({"is_enable":false}),
								contentType: 'application/json; charset=utf-8',
								success: function(data){
									if(!data){
										layer.msg('更新成功!');
									}else{
										layer.msg('更新失败!');
									}
									setTimeout(function(){ 
										table.reload("balance_logTable")
										}, 1000);	
								}
							})
							});
						}
						else{		
							layer.confirm(`解禁：${obj.data.name}`, function(index){
							//向服务端发送接近指令
							$.ajax({
								url     : `/data/balance_log?balance_log_id=eq.${obj.data.balance_log_id}`,
								type    : "PATCH",
								dataType: "json",
								data    : JSON.stringify({"is_enable":true}),
								contentType: 'application/json; charset=utf-8',
								success: function(data){
									if(!data){
										layer.msg('更新成功!');
									}else{
										layer.msg('更新失败!');
									}
										table.reload("balance_logTable")	
								}
							})
							});
						}
					}
					else if(layEvent === 'edit'){ //编辑
						//layer.msg('编辑');
						//弹出层引入用户修改页面
						//同步更新缓存对应的值 也可以直接重载表格
						layer.open({
						type: 2 ,
						area: ['500px', '650px'],
						title:"编辑",
						content:`/page/edit_balance_log`,
						success: function(layero, index){
							var body = layer.getChildFrame('body', index);
							//console.log(obj.data)
							//var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
							body.find("input[name='id']").val(obj.data.id);
							body.find("input[name='user_id']").val(obj.data.user_id);
							body.find("input[name='before']").val(obj.data.before);
							body.find("input[name='after']").val(obj.data.after);
							body.find("input[name='change_reason']").val(obj.data.change_reason);
							body.find("input[name='remark']").val(obj.data.remark);
							body.find("input[name='add_time']").val(obj.data.add_time);
							var iframe = window['layui-layer-iframe' + index];

							var data = {
							}
							iframe.init(data)
						},

						});    
						// obj.update({
						// 	username: '123'
						// 	,title: 'xxx'
						// });
					}
				});

				//监听事件
				table.on('toolbar(balance_log_table)', function(obj){
					var checkStatus = table.checkStatus(obj.config.id);

					switch(obj.event){
						case 'add':
							layer.msg('添加');
							layer.open({
								type: 2 ,
								area: ['500px', '450px'],
								title:"添加",
								content: "/page/add_balance_log",
								success: function(layero, index){
									var body = layer.getChildFrame('body', index);
									body.find("form[class='layui-form']").val(index);
								},
							})
						break;
						case 'is_enable':
							let data = checkStatus['data'];
							if (data.length > 0) {
							let ids = [];
								$.each(data, function (i, tem) {
									ids.push(tem['user_id']);
								});
								dialog.confirm({
									message:'您确定要删除选中项',
									success:function(){
										staticActive.delBatch(ids, '删除API');
										layer.msg('删除了')
									},
									cancel:function(){
										layer.msg('取消了')
									}
								})
								return false;
							} else {
								layer.msg('没有选中行');
							}
						break;
					};
				});
			});
		</script>
	</body>

</html>