@yz:registry=https://nexus.isecsp.com/repository/yuezhi-npm/
registry=https://registry.npm.taobao.org/
//nexus.isecsp.com/repository/yuezhi-npm/:_authToken=NpmToken.569be881-057f-325d-82c6-25911136457b