<!DOCTYPE html>
<html>
{%include "head.html" %}
{% include "script.html" %}
{% include "js/getCoupon.html"%}
{% include "js/getShop.html"%}
{% include "js/getShopGroup.html"%}
{% include "js/is_enable.html"%}
	<body>
		<div class="page-content-wrap">
			<form class="layui-form" action="" lay-filter="user-from">
				<div class="layui-inline">
					<label class="layui-form-label">券名</label>
					<div class="layui-input-inline">
                        <select name="coupon_id" lay-search>
                        </select>
					</div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属店铺</label>
                    <div class="layui-input-inline">
                        <select name="shop_id" id="shop_id" lay-search>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属品牌</label>
                    <div class="layui-input-inline">
                        <select name="group_id" lay-search>
                        </select>
                    </div>
                </div>
				<div class="layui-inline">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-inline">
						<select name="is_enable" lay-search="">
							<option value="true">启用</option>
							<option value="false">禁用</option>
						</select>
					</div>
				</div>
				<button class="layui-btn table-search" lay-submit lay-filter="user-from">搜索</button>
			</form>
			<table class="layui-hide" id="couponTable" lay-filter="coupon_table"></table>
		</div>
		<script type="text/html" id="toolcoupon">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm layui-icon layui-icon-add-1" title="新增" lay-event="add"></button>
				<!-- <button class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-close" title="删除"lay-event="is_enable"></button> -->
			</div>
		</script>
		<!-- <script type="text/html" id="bacoupon">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>
		</script> -->

        <!-- 搜索下拉 -->
		<script>
            layui.use('form',function(){
                var form = layui.form;
                    //获取券名  
                    getCoupon(false)
                    .then(result=>{
                        if(result){
                            $('select[name="coupon_id"]').empty();
                            $('select[name="coupon_id"]').append(`<option value=''  selected>所有</option>`);
                            for(element of result){
                                $('select[name="coupon_id"]').append(`<option value=${element.coupon_id}>${element.coupon_name}</option>`);
                            }
                        }
                        form.render();
                    })
                    .catch(err=>{
                        $('select[name="coupon_id"]').append(`<option value='-1' disable>获取数据失败</option>`);
                        form.render();
                        console.error(err)
                    })
                
                 //店铺列表,所有
                getShop(false)
                .then(result=>{
                    if(result){
                        $("#shop_id").empty()
                        for(element of result){
                            $("#shop_id").append(`<option value=${element.shop_id}>${element.name}</option>`);
                        }
                        $("#shop_id").append(`<option selected value='-1'>请选择</option>`)
                        form.render();
                    }
                })
                .catch(err=>{
                    console.error(err)
                    $("#shop_id").append(`<option value='-1' disable selected>获取失败</option>`);
                    form.render();
                })
                
                //获取品牌
                getShopGroup()
                .then(result=>{
                    if(result){
                        $('select[name="group_id"]').empty();
                        $('select[name="group_id"]').append(`<option value=''  selected>所有</option>`);
                        for(element of result){
                            $('select[name="group_id"]').append(`<option value=${element.group_id}>${element.group_name}</option>`);
                        }
                        form.render();
                    }
                })
                .catch(err=>{
                    $('select[name="group_id"]').append(`<option value='-1' disable>获取数据失败</option>`);
                    form.render();
                    console.error(err)
                })
            }) 
        </script>

		<script>
			layui.use(['table', 'dialog', 'jquery'], function() {
				var table = layui.table;
				var dialog = layui.dialog;
				var $ = layui.jquery;
				const active = {
					//table重载
					tableReload: function (params) {
						table.reload('couponTable', {
							where: {
								"search": params
							}
						});
					}
				}

				var form = layui.form;
				//初始渲染
				table.render({
					elem: '#couponTable'
					,url:'/api/coupon/search'
					,method: 'post'
					,toolbar: '#toolcoupon' //开启头部工具栏，并为其绑定左侧模板
					,title: '用户数据表'
					,parseData: function(res) {
						return {
							"code": res['code'],
							"msg": res['message'],
							"count": res['data']['total'],
							"data": res['data']['list']
						}
					}
					,cols: [[
						{type: 'checkbox', fixed: 'left'}
						,{field:'coupon_id', title:'代金券id', hide:true, }
						,{field:'coupon_name', title:'代金券名称', }
						,{field:'coupon_remark', title:'代金券备注', }
						,{field:'logo', title:'代金券的logo图片',templet:function(d){
							let key = d.coupon_id.replace(/-/g,'_')
							return `
								<div id="layer-photos-${key}"  >
									<img style="display: inline-block; width: 50%; height: 100%;" layer-src="${d.logo}" src="${d.logo}">
								</div>
							`
						} }
						,{field:'coupon_type', title:'代金券的类型', templet:function(d){
                            if(d.coupon_type===10||d.coupon_type==='10'){
                                return '通用代金券'
                            }else if(d.coupon_type===20||d.coupon_type==='20'){
                                return '店铺代金券'
                            }
                            else if(d.coupon_type===30||d.coupon_type==='30'){
                                return '连锁品牌代金券'
                            }
                            else{
                                return '未知代金券'
                            }
                        }}
						,{field:'shop_name', title:'所属店铺', }
						,{field:'group_name', title:'所属连锁店', }
						,{field:'validity_period', title:'有效期(天)', }
						,{field:'amount', title:'面值(元)',templet:function(d){
                            return new Decimal(d.amount).div(100)
                        } }
						,{field:'add_user_id', title:'操作的用户的id', hide:true,}
						,{field:'add_time', title:'添加时间',hide:true,  }
						,{field:'is_enable', title:'是否可用', hide:true, }
						,{field:'add_user_name', title:'录入人', }
						,{field:'is_enable', title:'是否启用', templet: function(d){
							if(d.is_enable===true){
								return '是'
							}else if(d.is_enable===false){
								return 	'否'
							}
						}}
						,{field:'add_time', title:'添加时间', templet:function(d){
							return dateFns.format(d.add_time,'YYYY-MM-DD HH:mm')
						} }
						,{fixed:'right', title: "操作", align:'center', templet:function(d){
							
							if(d.is_enable===true){
								return `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>`
							}else{
								return `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">解禁</a>`
							}
							
						}}
					]]
					,id: 'couponTable'
					,done:function(res, curr, count){
						layui.each(res.data,function(index,d){
							let key = d.coupon_id.replace(/-/g,'_')
							layer.photos({
								photos: `#layer-photos-${key}`
								,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
							}); 
 
						})
					}
					,page: true
				});

		
				//监听表单提交
				form.on('submit(user-from)', function(data){
					//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
					active.tableReload(data.field);
					return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
				});


	
				//监听行工具事件
				table.on('tool(coupon_table)', function(obj){
                    const url = `/data/coupon?coupon_id=eq.${obj.data.coupon_id}`;
					var layEvent = obj.event; //获得 lay-event 对应的值
					if(layEvent === 'detail'){ //查看
						layer.msg('查看');
						//弹出层引入用户详情页面
					} 
					else if(layEvent === 'is_enable'){ //
						
						if(obj.data.is_enable==true){
						layer.confirm(`禁用：${obj.data.coupon_name}`, function(index){
							//向服务端发送禁用指令
                            is_enable(url,false,'couponTable')
							});
						}
						else{		
							layer.confirm(`解禁：${obj.data.coupon_name}`, function(index){
							//向服务端发送接近指令
							is_enable(url,true,"couponTable")
							});
						}
                    }
                    

					else if(layEvent === 'edit'){ //编辑
						//
						//弹出层引入用户修改页面
                        //同步更新缓存对应的值 也可以直接重载表格
                        function getGroup() {
                            return new Promise((resolve, reject) => {
                                $.ajax({
                                url:'/data/shop_group?select=group_id,group_name&is_enable=eq.1',
                                type:'GET',
                                success:function(result){
                                    resolve(result)
                                }
                            })
                            })
                        }
                        function getShop(){
                            return new Promise((resolve, reject) => {
                                $.ajax({
                                url:`/data/shop?select=shop_id,name&is_enable=eq.1`,
                                type:'GET',
                                success:function(result){
                                    resolve(result)
                                }
                            })
                            })
                        }

                        var index=layer.open({
						type: 2 ,
						area: ['500px', '670px'],
                        title:"编辑",
                        resize  :false,//是否允许拉伸
						content:`/page/edit_coupon`,
						success: function(layero, index){
                            var body = layer.getChildFrame('body', index);
                            var iframe = window['layui-layer-iframe' + index];
                            getGroup().then((res)=>{
                                res.map(group=>{
                                    body.find("select[name='group_id']").append(`<option value=${group.group_id}>${group.group_name}</option>`)
                                })
                                body.find("select[name='group_id']").append(`<option  value="-1">请选择</option>`)
                                iframe.layui.form.render();

                                if(!obj.data.group_id){//不是连锁店代金券类型
                                    body.find("select[name='group_id']").val("");//group_id=''，则表示没有品牌
                                    body.find("#group").attr("style","display:none;")
                                }else{
                                    body.find("select[name='group_id']").val(obj.data.group_id);
                                }
                                iframe.layui.form.render();
                            })
                            getShop().then((res)=>{
                                for(shop of res){
                                    body.find("select[name='shop_id']").append(`<option value=${shop.shop_id}>${shop.name}</option>`);
                                }
                                body.find("select[name='shop_id']").append(`<option  value="-1">请选择</option>`)
                                iframe.layui.form.render();
                                
                                if(!obj.data.shop_id){//不是店铺代金券类型
                                    body.find("select[name='shop_id']").val("");
                                    body.find("#shop").attr("style","display:none;")
                                }else{
                                    body.find("select[name='shop_id']").val(obj.data.shop_id);
                                }
                                iframe.layui.form.render();
							})

							if(!obj.data.group_id&&!obj.data.shop_id){
								//通用类型
								body.find("select[name='shop_id']").val("");
								body.find("select[name='group_id']").val("");
								body.find("#group").attr("style","display:none;");
								body.find("#shop").attr("style","display:none;");
								iframe.layui.form.render();
							}
                            
							body.find("input[name='coupon_id']").val(obj.data.coupon_id);
							body.find("input[name='coupon_name']").val(obj.data.coupon_name);
							body.find("input[name='coupon_remark']").val(obj.data.coupon_remark);
							body.find("input[name='logo']").val(obj.data.logo);
							body.find("select[name='coupon_type']").val(obj.data.coupon_type);
							body.find("select[name='shop_id']").val(obj.data.shop_id);
							body.find("select[name='group_id']").val(obj.data.group_id);
                            body.find("input[name='validity_period']").val(obj.data.validity_period);
                            //把分转换成元
							body.find("input[name='amount']").val(new Decimal(obj.data.amount).div(100));
							body.find("input[name='add_user_id']").val(obj.data.add_user_id);
							body.find("input[name='add_time']").val(obj.data.add_time);
                            body.find("input[name='is_enable']").val(obj.data.is_enable);
                            let data = {
                                shop_id : obj.data.shop_id,
                                agent_id: obj.data.agent_id
                            }

                           // iframe.init(data)
                            
							iframe.layui.form.render();
						},

						});    
					}
				});

				//监听事件
				table.on('toolbar(coupon_table)', function(obj){
					var checkStatus = table.checkStatus(obj.config.id);

					switch(obj.event){
						case 'add':
							 
							layer.open({
								type: 2 ,
								area: ['500px', '550px'],
                                title:"添加",
                                resize  :false,//是否允许拉伸
								content: "/page/add_coupon",
								success: function(layero, index){
									var body = layer.getChildFrame('body', index);
									body.find("form[class='layui-form']").val(index);
								},
							})
						break;
						case 'is_enable':
							let data = checkStatus['data'];
							if (data.length > 0) {
							let ids = [];
								$.each(data, function (i, tem) {
									ids.push(tem['user_id']);
								});
								dialog.confirm({
									message:'您确定要删除选中项',
									success:function(){
										staticActive.delBatch(ids, '删除API');
										layer.msg('删除了')
									},
									cancel:function(){
										layer.msg('取消了')
									}
								})
								return false;
							} else {
								layer.msg('没有选中行');
							}
						break;
					};
				});
			});
		</script>
	</body>

</html>