<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include 'script.html' %}
    <div class="layui-card">
        <div class="layui-card-body">
                <form class="layui-form"  action="">
                    <div class="layui-form-item layui-row"  style="display:none">
                        <label class="layui-form-label">ID</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="game_id"   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏名称</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="game_name"  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏大图</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="game_img"  lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏小图</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="game_img_small"   lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">支付价格(元)</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="price"  lay-verify="required|number"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏打开路径</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="game_url"  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏类型</label>
                        <div class="layui-input-block">
                        <select id = 'game_type' name="game_type" lay-search  lay-verify="required" >   
                            <option value="1" >射击类游戏</option>
                            <option value='2' >休闲类游戏</option>
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏描述</label>
                        <div class="layui-input-block ">
                            <textarea name="game_desc" autocomplete="off" placeholder="请输入" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                    </div>
                </form>
        </div>
    </div>


    <script>
    //监听提交
    layui.use('form', function(){
    var form = layui.form;
    form.on('submit(formDemo)', function(data){
        let layer_index = $("form[class='layui-form']").val()
       //转换金额为分
       data.field.price = (new Decimal(data.field.price).mul(100).toNumber());
        $.ajax({
            url     : `/data/game?game_id=eq.${data.field.game_id}`,
            type    : "PATCH",
            dataType: "json",
            data    : JSON.stringify(data.field),
            contentType: 'application/json; charset=utf-8',
            success: function(data){
                if(!data){
                    layer.msg('更新成功!');
                    setTimeout(function(){ 
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭   
                        parent.layui.table.reload('gameTable');//刷新父表格   
                    }, 1000);
                }
                else{
                    layer.msg('更新失败!');
                }
            }
        })
        return false;
    });
    });
    </script>


</html>