<!DOCTYPE html>
<html>
{%include "head.html" %}
{% include "script.html" %}
	<body>
		<div class="page-content-wrap">
			<form class="layui-form" action="" lay-filter="user-from">
				<div class="layui-inline">
					<label class="layui-form-label">游戏会话名</label>
					<div class="layui-input-inline">
						<input type="text" name="game_session_name" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-inline">
						<select name="is_enable" lay-search="">
							<option value="true">启用</option>
							<option value="false">禁用</option>
						</select>
					</div>
				</div>
				<button class="layui-btn table-search" lay-submit lay-filter="user-from">搜索</button>
			</form>
			<table class="layui-hide" id="game_sessionTable" lay-filter="game_session_table"></table>
		</div>
		<script type="text/html" id="toolgame_session">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm layui-icon layui-icon-add-1" title="新增" lay-event="add"></button>
				<!-- <button class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-close" title="删除"lay-event="is_enable"></button> -->
			</div>
		</script>
		<!-- <script type="text/html" id="bagame_session">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>
		</script> -->

		<script>
			layui.use(['table', 'dialog', 'jquery'], function() {
				var table = layui.table;
				var dialog = layui.dialog;
				var $ = layui.jquery;
				const active = {
					//table重载
					tableReload: function (params) {
						table.reload('game_sessionTable', {
							where: {
								"search": params
							}
						});
					}
				}

				var form = layui.form;
				//初始渲染
				table.render({
					elem: '#game_sessionTable'
					,url:'/api/game_session/search'
					,method: 'post'
					,toolbar: '#toolgame_session' //开启头部工具栏，并为其绑定左侧模板
					,title: '游戏会话表'
					,parseData: function(res) {
						return {
							"code": res['code'],
							"msg": res['message'],
							"count": res['data']['total'],
							"data": res['data']['list']
						}
					}
					,cols: [[
						{type: 'checkbox', fixed: 'left'}
						,{field:'session_id', title:'会话id', hide:true}
						,{field:'scan_id', title:'扫描记录id', }
                        ,{field:'game_id', title:'游戏id',hide:true }
                        ,{field:'game_name', title:'游戏', }
						,{field:'is_payed', title:'是否支付',templet:function(d){
                            if(d.is_payed===true){
                                return '是'
                            }
                            else{
                                return '否'
                            }
                        } }
						,{field:'pay_time', title:'支付时间',templet:function(d){
							return dateFns.format(d.pay_time,'YYYY-MM-DD HH:mm')
						} }
						,{field:'pay_method', title:'支付方法', }
						,{field:'session_state', title:'会话状态', }
						,{field:'start_time', title:'游戏的开始时间',  templet:function(d){
							return dateFns.format(d.start_time,'YYYY-MM-DD HH:mm')
						}}
						,{field:'end_time', title:'游戏的结束的时间', templet:function(d){
							return dateFns.format(d.end_time,'YYYY-MM-DD HH:mm')
						} }
						,{field:'is_win', title:'是否赢了此局',templet:function(d){
                            if(d.is_payed===true){
                                return '是'
                            }
                            else{
                                return '否'
                            }
                        } }
						,{field:'add_time', title:'记录添加时间',hide:true }
						,{field:'add_time', title:'添加时间', templet:function(d){
							return dateFns.format(d.add_time,'YYYY-MM-DD HH:mm')
						} }
						,{fixed:'right', title: "操作", align:'center', templet:function(d){
							
							if(d.is_enable===true){
								return `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>`
							}else{
								return `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">解禁</a>`
							}
							
						}}
					]]
					,id: 'game_sessionTable'
					,page: true
				});

		
				//监听表单提交
				form.on('submit(user-from)', function(data){
					//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
					active.tableReload(data.field);
					return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
				});


	
				//监听行工具事件
				table.on('tool(game_session_table)', function(obj){
					var layEvent = obj.event; //获得 lay-event 对应的值
					if(layEvent === 'detail'){ //查看
						layer.msg('查看');
						//弹出层引入用户详情页面
					} 
					else if(layEvent === 'is_enable'){ //删除
						
						if(obj.data.is_enable==true){
						layer.confirm(`禁用：${obj.data.game_session_name}`, function(index){
							//向服务端发送禁用指令
							$.ajax({
								url     : `/data/game_session?game_session_id=eq.${obj.data.game_session_id}`,
								type    : "PATCH",
								dataType: "json",
								data    : JSON.stringify({"is_enable":false}),
								contentType: 'application/json; charset=utf-8',
								success: function(data){
									if(!data){
										layer.msg('更新成功!');
									}else{
										layer.msg('更新失败!');
									}
									setTimeout(function(){ 
										table.reload("game_sessionTable")
										}, 1000);	
								}
							})
							});
						}
						else{		
							layer.confirm(`解禁：${obj.data.name}`, function(index){
							//向服务端发送接近指令
							$.ajax({
								url     : `/data/game_session?game_session_id=eq.${obj.data.game_session_id}`,
								type    : "PATCH",
								dataType: "json",
								data    : JSON.stringify({"is_enable":true}),
								contentType: 'application/json; charset=utf-8',
								success: function(data){
									if(!data){
										layer.msg('更新成功!');
									}else{
										layer.msg('更新失败!');
									}
										table.reload("game_sessionTable")	
								}
							})
							});
						}
					}
					else if(layEvent === 'edit'){ //编辑
						//layer.msg('编辑');
						//弹出层引入用户修改页面
						//同步更新缓存对应的值 也可以直接重载表格
						layer.open({
						type: 2 ,
						area: ['500px', '650px'],
						title:"编辑",
						content:`/page/edit_game_session`,
						success: function(layero, index){
							var body = layer.getChildFrame('body', index);
							//console.log(obj.data)
							//var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
							body.find("input[name='session_id']").val(obj.data.session_id);
							body.find("input[name='scan_id']").val(obj.data.scan_id);
							body.find("input[name='game_id']").val(obj.data.game_id);
							body.find("input[name='is_payed']").val(obj.data.is_payed);
							body.find("input[name='pay_time']").val(obj.data.pay_time);
							body.find("input[name='pay_method']").val(obj.data.pay_method);
							body.find("input[name='session_state']").val(obj.data.session_state);
							body.find("input[name='start_time']").val(obj.data.start_time);
							body.find("input[name='end_time']").val(obj.data.end_time);
							body.find("input[name='is_win']").val(obj.data.is_win);
							body.find("input[name='add_time']").val(obj.data.add_time);
							var iframe = window['layui-layer-iframe' + index];

							var data = {
							}
							iframe.init(data)
						},

						});    
						// obj.update({
						// 	username: '123'
						// 	,title: 'xxx'
						// });
					}
				});

				//监听事件
				table.on('toolbar(game_session_table)', function(obj){
					var checkStatus = table.checkStatus(obj.config.id);

					switch(obj.event){
						case 'add':
							layer.msg('添加');
							layer.open({
								type: 2 ,
								area: ['500px', '450px'],
								title:"添加",
								content: "/page/add_game_session",
								success: function(layero, index){
									var body = layer.getChildFrame('body', index);
									body.find("form[class='layui-form']").val(index);
								},
							})
						break;
						case 'is_enable':
							let data = checkStatus['data'];
							if (data.length > 0) {
							let ids = [];
								$.each(data, function (i, tem) {
									ids.push(tem['user_id']);
								});
								dialog.confirm({
									message:'您确定要删除选中项',
									success:function(){
										staticActive.delBatch(ids, '删除API');
										layer.msg('删除了')
									},
									cancel:function(){
										layer.msg('取消了')
									}
								})
								return false;
							} else {
								layer.msg('没有选中行');
							}
						break;
					};
				});
			});
		</script>
	</body>

</html>