<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include "script.html" %}
    <div class="layui-card">
        <div class="layui-card-body">
        <form class="layui-form"  action="">
                <div class="layui-form-item layui-row" style="display:none" >
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block ">
                        <input type="text"  name="group_id" lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row" >
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block ">
                        <input type="text"  name="group_name" lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row" style="display:none">
                    <label class="layui-form-label">添加的账户id</label>
                    <div class="layui-input-block ">
                        <input type="text"  name="add_user_id"   autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layaui-btn-primary">重置</button>
                </div>
                </div>

        </form>
        </div>
    </div>   


    <!-- 动态赋值 -->
    <script>
          layui.use('form', function(){
            var form = layui.form;

            //解析getJWT
            $.ajax({
                url     : `/api/tool/getJwtInfo`,
                type    : "get",
                success: function(result){
                    $('input[name="add_user_id"]').val(result.data.user_id)
                    form.render();
                }
            })
            //获取generate_key
            $.ajax({
                url     : `/api/common/generate_key`,
                type    : "get",
                success: function(result){
                     $('input[name="group_id"]').val(result.data)
                    form.render();
                }
            })
         });
    </script>
    <!-- 提交监听 -->
    <script>
    layui.use('form', function(){
    var form = layui.form;
    //监听提交
    form.on('submit(formDemo)', function(data){
        let layer_index = $("form[class='layui-form']").val()
        //console.log(data.field)
        $.ajax({
            url        : `/data/shop_group`,
            type       : "POST",
            dataType   : "json",
            data       : JSON.stringify(data.field),
            contentType: 'application/json; charset=utf-8',
            //由于插入成功后postres
            error:function(data){
                if(data.status=="201"){
                    layer.msg('添加成功!');
                    setTimeout(function(){ 
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭   
                        parent.layui.table.reload('shop_groupTable');//刷新父表格    
                    }, 1000);
                }else{
                    layer.msg('添加失败!');
                }
            },
            complete:function(XHR){
               //console.log('XHR info',XHR.responseJSON)
            }
        })
        return false;
    });
    });
    </script>



</html>