<div class="layui-row ">
    <div class="layui-col-md12 ">
        <div class="layui-row ">
            <div class="layui-col-md3 layui-col-space5">
                内部列
            </div>
            <div class="layui-col-md9">
                内部列
            </div>
            <div class="layui-col-md12">
                内部列
            </div>
        </div>
    </div>
</div>


<div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row ">
            <form class="layui-form"  action="">
                <div class="layui-form-item layui-row" >
                    <div class="layui-col-md12 ">
                        <div class="layui-row ">
                            <div class="layui-col-md3 layui-col-space5">
                                <label class="layui-form-label"></label>
                            </div>
                            <div class="layui-col-md9">
                                <div class="layui-input-block ">
                                    <input type="text"  name="group_id"   autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="layui-form-item layui-row" >
                    <div class="layui-col-md12 ">
                        <div class="layui-row ">
                            <div class="layui-col-md3 layui-col-space5">
                                <label class="layui-form-label">名称</label>
                            </div>
                            <div class="layui-col-md9">
                                <div class="layui-input-block ">
                                    <input type="text"  name="group_name"   autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            </div>
                    </div>
                </div>

                <div class="layui-form-item layui-row" >
                    <div class="layui-col-md12 ">
                        <div class="layui-row ">
                            <div class="layui-col-md3 layui-col-space5">
                                <label class="layui-form-label">上级组织id</label>
                            </div>
                            <div class="layui-col-md9">
                                <div class="layui-input-block ">
                                     <input type="text"  name="parent_id"   autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            </div>
                    </div>
                </div>

                <div class="layui-form-item layui-row" >
                    <div class="layui-col-md12 ">
                        <div class="layui-row ">
                            <div class="layui-col-md3 layui-col-space5">
                                <label class="layui-form-label">添加时间</label>
                            </div>
                            <div class="layui-col-md9">
                                <div class="layui-input-block ">
                                     <input type="text"  name="add_time"   autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            </div>
                    </div>
                </div>

                <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layaui-btn-primary">重置</button>
                </div>
                </div>
            </form>
            </div>
        </div>
</div>   
