<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include "script.html" %}
    <div class="layui-card">
        <div class="layui-card-body">
        <form class="layui-form"  action="" id='add_qrcode'>
                <div class="layui-form-item layui-row" >
                    <label class="layui-form-label">扫码后的动作</label>
                    <div class="layui-input-block ">
                        <textarea name="scan_action" required lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form" lay-filter="shop_id">
                    <label class="layui-form-label">所属店铺</label>
                <div class="layui-input-block">
                    <select id = 'shop_id' name="shop_id" lay-search>
                        <option value=-1 selected>选择店铺</option>
                    </select>   
                    </select>
                </div>

                <div class="layui-form" lay-filter="agent_id">
                    <label class="layui-form-label">生成于代理商</label>
                <div class="layui-input-block">
                    <select id = 'agent_id' name="agent_id" lay-search  >   
                        <option value=-1 selected>选择代理商</option>
                    </select>
                </div>
                <!-- <div class="layui-form-item layui-row"  style="display: none">
                    <label class="layui-form-label">二维码的内容hash</label>
                    <div class="layui-input-block ">
                        <input type="text"  name="hash_str"  autocomplete="off" class="layui-input"></input>
                    </div>
                </div> -->
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label "style=" margin-top:12px;">生成数量</label>
                    <div class="layui-input-block ">
                        <input type="text"   style="display: none"  name="seq" required  lay-verify="required|number"  autocomplete="off" class="layui-input">
                        <div id="slide" style=" margin-top:30px;"></div>
                    </div>
                </div>
                <div class="layui-form-item layui-row" style="display: none" >
                    <label class="layui-form-label">创建二维码的用户的id</label>
                    <div class="layui-input-block ">
                        <input type="text"  name="add_user_id" required  lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layaui-btn-primary">重置</button>
                </div>
                </div>

        </form>
        </div>
    </div>   

    <!-- 动态添加 -->
    <script>
        layui.use('slider', function(){
        var slider = layui.slider;
        //渲染
        slider.render({
            elem: '#slide',  //绑定元素
            min:0,
            max:100,
            input:true,
            value:0,
            change:function(value){
                $('input[name="seq"]').val(value)
            }
            });
        });

        layui.use('form', function(){
            var form = layui.form;
            //初始化textarea
            $('textarea[name="scan_action"]').val(JSON.stringify({"redirect": "https://www.qrcode.isecsp.com"},null,4))

             //解析getJWT
             $.ajax({
                url     : `/api/tool/getJwtInfo`,
                type    : "get",
                success: function(result){
                    $('input[name="add_user_id"]').val(result.data.user_id)
                    form.render();
                }
            })
            
            //获取店铺
            $.ajax({
                url : `/data/shop?select=shop_id,name&is_enable=eq.1`,
                type:"GET",
                success:function(result){
                    for(element of result){
                        $("#shop_id").append(`<option value=${element.shop_id}>${element.name}</option>`);
                    }
                    form.render('select','shop_id');
                }
            })
            //获取代理商
            $.ajax({
                url : `/data/agent?select=agent_id,name&is_enable=eq.1`,
                type:"GET",
                success:function(result){
                    for(element of result){
                        $("#agent_id").append(`<option value=${element.agent_id}>${element.name}</option>`);
                    }
                    form.render('select','agent_id');
                }
            })
        })
    </script>

    <!-- 提交监听 -->
    <script>   
    layui.use('form', function(){
    let form = layui.form;
    let layer = layui.layer;
    //监听提交
    form.on('submit(formDemo)', function(data){
        let loading_index = layer.load(1); //风格1的加载

        if(data.field.shop_id=="-1"){
            layer.msg('请选择店铺')
            return false
        }else if(data.field.agent_id=="-1"){
            layer.msg('请选择代理商');
            return false
        }
        //解析一下，不然会有转义字符
        data.field.scan_action=(JSON.parse(data.field.scan_action))
        $.ajax({
            url:"/api/qrcode/add_qrcode",
            type:'POST',
            data:data.field,
            success:function(result){
                if(result.success===true){
                    layer.close(loading_index); 
                    layer.msg('添加成功!');
                    setTimeout(function(){ 
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭   
                        parent.layui.table.reload('qrcodeTable');//刷新父表格   
                    }, 1500);
                } 
                else{
                    layer.msg('添加失败!');
                }     
            } 
        });
        //http://域名/entry_page?id=$id&s_id=$shop_id&g_id=&$group_id&hash=xxxxxxxxx
        return false
    });
    });
    </script>



</html>