<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include 'script.html' %}
    {% include "js/getShop.html" %}
    {% include "js/getShopGroup.html" %}
    {% include "js/getAgent.html"%}
    <div class="layui-card">
        <div class="layui-card-body">
                <form class="layui-form"  action="">
                    <div class="layui-form-item layui-row" style="display: none" >
                        <label class="layui-form-label">主键</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="qrcode_id"  lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">扫码后的动作</label>
                        <div class="layui-input-block ">
                            <textarea name="scan_action"  lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">二维码的下载地址</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="download_url"   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form" lay-filter="shop_id">
                        <label class="layui-form-label">所属店铺</label>
                    <div class="layui-input-block">
                        <select id = 'shop_id' name="shop_id" lay-search>
                            <!-- <option value=-1 selected>选择店铺</option> -->
                        </select>   
                        </select>
                    </div>

                    <div class="layui-form" lay-filter="agent_id">
                        <label class="layui-form-label">生成于经营商</label>
                    <div class="layui-input-block">
                        <select id = 'agent_id' name="agent_id" lay-search  >   
                            <!-- <option value=-1 selected>选择经营商</option> -->
                        </select>
                    </div>

                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">二维码的内容hash</label>
                        <div class="layui-input-block ">
                            <textarea name="hash_str" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">序号</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="seq"   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                    </div>
                </form>
        </div>
    </div>
    
    <script>
        function init(data){
            layui.use('form', function(){
                var form = layui.form;
                 //获取店铺
                getShop(true)
                .then(result=>{
                    if(result){
                        $("#shop_id").empty()
                        for(element of result){
                            $("#shop_id").append(`<option value=${element.shop_id}>${element.name}</option>`);
                        }
                        $("#shop_id").append(`<option selected value='-1'>请选择</option>`)
                        form.render();
                    }
            
                })
                .catch(err=>{
                    console.error(err)
                    $("#shop_id").append(`<option value='-1' disable selected>获取失败</option>`);
                    form.render();
                })

                 //品牌，仅is_enable=1
                getShopGroup()
                .then(result=>{
                    if(result){
                        for(element of result){
                            $('#group_id').append(`<option value=${element.group_id}>${element.group_name}</option>`)
                        }
                        $('#group_id').append(`<option selected value='-1'>请选择</option>`)
                        $('#group_id').append(`<option selected value=''>无所属品牌</option>`)//group_id=''，则表示没有品牌
                        form.render()
                    }
                
                })
                .catch(err=>{
                    $('select[name="group_id"]').append(`<option value='-1' disable>获取数据失败</option>`);
                    form.render();
                    console.error(err)
                })

                 //获取经营商
                getAgent()
                .then(result=>{
                    if(result){
                        for(element of result){
                            $('#agent_id').append(`<option value=${element.agent_id}>${element.name}</option>`);
                        }
                        $("#agent_id").append(`<option selected value='-1'>请选择</option>`)
                        form.render();
                    }
                })
                .catch(err=>{
                    console.log('err:',err);
                    $('select[name="agent_id"]').append(`<option value='-1'>获取数据失败</option>`);
                    form.render()
                })
            })
        }
    </script>

    <!-- 监听提交 -->
    <script>
    layui.use('form', function(){
    var form = layui.form;
    form.on('submit(formDemo)', function(data){
        if(data.field.agent_id==='-1'){
            layer.msg('请选择运营商')
            return false
        }
        if(data.field.group_id==='-1'){
            layer.msg('请选择连锁品牌')
            return false
        }
        if(data.field.shop_id==='-1'){
            layer.msg('请选择店铺')
            return false
        }
        $.ajax({
            url     : `/data/qrcode?qrcode_id=eq.${data.field.qrcode_id}`,
            type    : "PATCH",
            dataType: "json",
            data    : JSON.stringify(data.field),
            contentType: 'application/json; charset=utf-8',
            success: function(data){
                if(!data){
                    layer.msg('更新成功!');
                    setTimeout(function(){ 
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭   
                        parent.layui.table.reload('qrcodeTable');//刷新父表格  
                    }, 1000);
                }
                else{
                    layer.msg('更新失败!');
                }
            }
        })
        return false;
    });
    });
    </script>


</html>