<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include 'script.html' %}
    <div class="layui-card">
        <div class="layui-card-body">
                <form class="layui-form" id="editForm" action="">
                    <div class="layui-form-item layui-row" style="display:none"  >
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block ">
                            <input type="text" disabled name="agent_id"   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">经销商名称</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="name"   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">经销商的营业执照编号</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="license"   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form" lay-filter="province">
                        <label class="layui-form-label">省份</label>
                        <div class="layui-input-block">
                            <select id = 'province' name="province"  required  lay-verify="required" lay-filter="province">   
                            </select>
                    </div>
                    <div class="layui-form" lay-filter="city">
                        <label class="layui-form-label">市</label>
                        <div class="layui-input-block">
                            <select id = 'city' name="city" lay-search required  lay-verify="required" lay-filter="city" >   
                            </select>
                    </div>
                    <div class="layui-form" lay-filter="area">
                        <label class="layui-form-label">区</label>
                        <div class="layui-input-block">
                            <select id = 'area' name="area" lay-search required  lay-verify="required"  lay-filter="area" >   
                            </select>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="local_address"   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="layui-form-item layui-row"  >
                        <label class="layui-form-label " style=" margin-top:-18px;">获利比例</label>
                        <div class="layui-input-block ">
                            <input type="text"   name="gain_rate" id='edit_slider'  autocomplete="off" class="layui-input">
                            <div id="slideTest1" style=" margin-top:30px;"></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                    </div>
                </form>
        </div>
    </div>


  
     <script>
       //   <!-- 滑块 -->
        function init(data){
        //获取父界面的传值
            var edit_slider=layui.use('slider', function(){
            var slider = layui.slider;
            //渲染
            slider.render({
                elem: '#slideTest1',  //绑定元素
                min:0,
                max:100,
                input:true,
                value: data.gain_rate,
                change:function(value){
                    $('input[name="gain_rate"]').val(value)
                }
            });
        });
     
        layui.use('form', function(){
        var province_object =  $('#province');
        var city_object =  $('#city');
        var area_object =  $('#area');
        var form = layui.form;
        $.ajax({
            url     : `/api/common/get_province`,
            type    : "get",
            success: function(result){
                province_object.empty()
                for(element of result.data){
                    province_object.append(`<option value=${element.value}>${element.label}</option>`);
                }
                $("#province").val(`${data.provinceCode}`);
                form.render('select','province');     
            }
        })
        
        $.ajax({
                url     : `/api/common/get_city`,
                type    : "get",
                dataType: "json",
                data    :  {provinceCode:data.provinceCode},
                contentType: 'application/json; charset=utf-8',
                success: function(result){
                    city_object.empty()
                    area_object.empty()
                    //city_object.append(`<option value="" selected>请选择城市</option>`)
                    //area_object.append(`<option value="" selected>请选择区</option>`)
                    
                    for(element of result.data){
                        city_object.append(`<option value=${element.value}>${element.label}</option>`);
                        }
                    $("#city").val(`${data.cityCode}`);
                    form.render('select','city');
                }
        })
        
        $.ajax({
                url     : `/api/common/get_area`,
                type    : "get",
                data    : {cityCode:data.cityCode},
                contentType: 'application/json; charset=utf-8',
                success: function(result){
                    area_object.empty()
                    //area_object.append(`<option value="" selected>请选择区</option>`)
                    for(element of result.data){
                        area_object.append(`<option value=${element.value}>${element.label}</option>`);
                        }
                        $("#area").val(`${data.areaCode}`);
                        form.render('select','area');
                }
        })

    })
        
    }
    </script>
    <!-- 动态赋值 -->
    <script>
      
        layui.use('form', function(){
        var form = layui.form;
        var province_object =  $('#province');
        var city_object =  $('#city');
        var area_object =  $('#area');

        var data= $('.layui-slider-input-txt').find('input').val()
        
        $.ajax({
            url     : `/api/common/get_province`,
            type    : "get",
            success: function(result){
                for(element of result.data){
                    province_object.append(`<option value=${element.value}>${element.label}</option>`);
                    }
                form.render('select','province');
            }
        })

        form.on('select(province)', function(data){
            $.ajax({
                url     : `/api/common/get_city`,
                type    : "get",
                dataType: "json",
                data    : {provinceCode:data.value},
                contentType: 'application/json; charset=utf-8',
                success: function(result){
                    city_object.empty()
                    area_object.empty()
                    city_object.append(`<option value="" selected>请选择城市</option>`)
                    area_object.append(`<option value="" selected>请选择区</option>`)
                    
                    for(element of result.data){
                        city_object.append(`<option value=${element.value}>${element.label}</option>`);
                        }
                    form.render('select','city');
                }
            })
        });     
        form.on('select(city)', function(data){
            $.ajax({
                url     : `/api/common/get_area`,
                type    : "get",
                data    : {cityCode:data.value},
                contentType: 'application/json; charset=utf-8',
                success: function(result){
                    area_object.empty()
                    area_object.append(`<option value="" selected>请选择区</option>`)
                    for(element of result.data){
                        area_object.append(`<option value=${element.value}>${element.label}</option>`);
                        }
                        form.render('select','area');
                }
            })
        });       
        });
    </script>
    <script>
    //Demo
    layui.use('form', function(){
    var form = layui.form;
    //监听提交
    form.on('submit(formDemo)', function(data){
        let layer_index = $("form[class='layui-form']").val()
        var province =  $('#province').find("option:selected").text();
        var city =  $('#city').find("option:selected").text();
        var area =  $('#area').find("option:selected").text();
        var p_c_a_text = `{"${province}","${city}","${area}"}`;
        var p_c_a_id = `{"${data.field.province}","${data.field.city}","${data.field.area}"}`;
        let insert = data.field;
        delete insert.province;
        delete insert.city;
        delete insert.area;
        insert['p_c_a_text'] = p_c_a_text;
        insert['p_c_a_id'] = p_c_a_id;
        $.ajax({
            url     : `/data/agent?agent_id=eq.${data.field.agent_id}`,
            type    : "PATCH",
            dataType: "json",
            data    : JSON.stringify(insert),
            contentType: 'application/json; charset=utf-8',
            success: function(data){
                if(!data){
                    layer.msg('更新成功!');
                    setTimeout(function(){ 
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭   
                        parent.layui.table.reload('agentTable');//刷新父表格   
                    }, 1000);
                }
                else{
                    layer.msg('更新失败!');
                }
            }
        })
        return false;
    });
    });
    </script>


</html>