<!DOCTYPE html>
<html>
{%include "head.html" %}
{% include "script.html" %}
{% include "js/getPCAscript.html"%}
{% include "js/getAgent.html"%}
{% include "js/getAgent_staff.html"%}
{% include "js/is_enable.html"%}
	<body>
		<div class="page-content-wrap">
			<form class="layui-form" action="" lay-filter="agent_staff_user_from">
				<div class="layui-inline">
					<label class="layui-form-label">员工名</label>
					<div class="layui-input-inline">
						<select name="agent_staff_id" lay-search>
						</select>
					</div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属经销商</label>
                    <div class="layui-input-inline">
						<select name="agent_id" lay-search>
						</select>
                    </div>
                </div>
				<div class="layui-inline">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-inline">
						<select name="is_enable" lay-search="">
							<option value="">所有</option>
							<option value="true">启用</option>
							<option value="false">禁用</option>
						</select>
					</div>
				</div>
				<button class="layui-btn table-search" lay-submit lay-filter="agent_staff_user_from">搜索</button>
			</form>
			<table class="layui-hide" id="agent_staffTable" lay-filter="agent_staff_table"></table>
		</div>
		<script type="text/html" id="toolagent_staff">
			<div class="layui-btn-container">
				<!-- <button class="layui-btn layui-btn-sm layui-icon layui-icon-add-1" title="新增" lay-event="add"></button> -->
				<!-- <button class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-close" title="删除"lay-event="is_enable"></button> -->
			</div>
		</script>
		<!-- <script type="text/html" id="baagent_staff">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>
		</script> -->


		<!-- 搜索下拉 -->
		<script>
			layui.use('form',function(){
				var form = layui.form
				Promise.all([getAgent_staff(false),getAgent()])
				.then(result=>{
					const [agent_staffs,agents] = result;
					if(agent_staffs){
						$('select[name="agent_staff_id"]').empty();
						$('select[name="agent_staff_id"]').append(`<option value=''  selected>所有</option>`);
						for(element of agent_staffs){
							$('select[name="agent_staff_id"]').append(`<option value=${element.agent_staff_id}>${element.user_name}</option>`);
						}
						form.render()

					}
					if(agents){
						$('select[name="agent_id"]').empty();
						$('select[name="agent_id"]').append(`<option value=''  selected>所有</option>`);
						for(element of agents){
						$('select[name="agent_id"]').append(`<option value=${element.agent_id}>${element.name}</option>`);
						}
					}
					form.render()
				})
				.catch(err=>{
					console.log('err:',err);
					$('select[name="agent_id"]').append(`<option value='-1'>获取数据失败</option>`);
					$('select[name="agent_staff_id"]').append(`<option value='-1'>获取数据失败</option>`);
					form.render('select')
				})
			})
		</script>
		<script>
			layui.use(['table', 'dialog', 'jquery'], function() {
				var table = layui.table;
				var dialog = layui.dialog;
				var $ = layui.jquery;   
				const active = {
					//table重载
					tableReload: function (params) {
						table.reload('agent_staffTable', {
							where: {
								"search": params
							}
						});
					}
				}

				var form = layui.form;
				//初始渲染
				table.render({
					elem: '#agent_staffTable'
					,url:'/api/agent_staff/search'
					,method: 'post'
					,height: 'full-160'
					,toolbar: '#toolagent_staff' //开启头部工具栏，并为其绑定左侧模板
					,title: '用户数据表'
					,parseData: function(res) {
						return {
							"code": res['code'],
							"msg": res['message'],
							"count": res['data']['total'],
							"data": res['data']['list']
						}
					}
					,cols: [[
						 {type: 'numbers', title: '序号'}
						,{field:'agent_staff_id', title:'',hide:true }
						,{field:'user_name', title:'用户名', }
						,{field:'agent_name', title:'所属经销商', }
						,{field:'agent_staff_type', title:'员工类型', templet:function(d){
                            if(d.agent_staff_type=='10'){
                                return '经销商管理员'
                            }else{
                                return '推广员'
                            }
                        }}
						,{field:'can_withdraw', title:'是否可操作提现', templet:function(d){
                            if(d.can_withdraw==true){
                                return "是"
                            }else{
                                return 	`<input type="checkbox" name="is_enable" lay-skin="switch" disabled  lay-text="ON|OFF">`
                            }
                        }}
						,{field:'is_enable', title:'是否启用', hide:true }
						,{field:'add_user_id', title:'操作人id',hide:true }
						,{field:'add_time', title:'添加时间', }
						,{field:'add_user_name', title:'录入人', }
						,{field:'is_enable', title:'是否启用', templet: function(d){
							if(d.is_enable===true){
								return `<input type="checkbox" name="is_enable" lay-skin="switch" disabled checked lay-text="ON|OFF">`
							}else if(d.is_enable===false){
								return 	`<input type="checkbox" name="is_enable" lay-skin="switch" disabled  lay-text="ON|OFF">`
							}
						}}
						,{field:'add_time', title:'添加时间', templet:function(d){
							return dateFns.format(d.add_time,'YYYY-MM-DD HH:mm')
						} }
						,{fixed:'right', title: "操作", align:'center', minWidth:120,templet:function(d){
							
							if(d.is_enable===true){
								return `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">禁用</a>`
							}else{
								return `<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger layui-btn-xs" name='is_enable' lay-event="is_enable">解禁</a>`
							}
							
						}}
					]]
					,id: 'agent_staffTable'
					,page: true
				});

		
				//监听表单提交
				form.on('submit(agent_staff_user_from)', function(data){
					//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
					active.tableReload(data.field);
					return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
				});


	
				//监听行工具事件
				table.on('tool(agent_staff_table)', function(obj){
					const url = `/data/agent_staff?agent_staff_id=eq.${obj.data.agent_staff_id}`;
					var layEvent = obj.event; //获得 lay-event 对应的值
					if(layEvent === 'detail'){ //查看
						layer.msg('查看');
						//弹出层引入用户详情页面
					} 
					else if(layEvent === 'is_enable'){ //删除
						
						if(obj.data.is_enable==true){
							layer.confirm(`禁用：${obj.data.user_name}`, function(index){
							//向服务端发送禁用指令
								is_enable(url,false,"agent_staffTable")
							});
						}
						else{		
							layer.confirm(`解禁：${obj.data.user_name}`, function(index){
							//向服务端发送接近指令
								is_enable(url,true,"agent_staffTable")
							});
						}
					}
					else if(layEvent === 'edit'){ //编辑
						//layer.msg('编辑');
						//弹出层引入用户修改页面
						//同步更新缓存对应的值 也可以直接重载表格
						layer.open({
						type: 2 ,
                        area: ['500px', '320px'],
                        resize  :false,//是否允许拉伸
						title:"编辑",
						content:`/page/edit_agent_staff`,
						success: function(layero, index){
							var body = layer.getChildFrame('body', index);
							var iframe = window['layui-layer-iframe' + index];

							body.find("input[name='agent_staff_id']").val(obj.data.agent_staff_id);
                            body.find("input[name='user_id']").val(obj.data.user_id);
                            body.find("input[name='user_name']").val(obj.data.user_name);
                            body.find("input[name='agent_id']").val(obj.data.agent_id);
                            body.find("input[name='agent_name']").val(obj.data.agent_name);
							body.find("#agent_staff_type").val(obj.data.agent_staff_type);
							body.find("#can_withdraw").val(obj.data.can_withdraw);
							body.find("input[name='is_enable']").val(obj.data.is_enable);
							body.find("input[name='add_user_id']").val(obj.data.add_user_id);
							body.find("input[name='add_time']").val(obj.data.add_time);
							
                            let data = {
                                can_withdraw    : obj.data.can_withdraw,
                                agent_staff_type: obj.data.agent_staff_type,
                                agent_id        : obj.data.agent_id
                            }

							iframe.init(data)
							iframe.layui.form.render();
						},

						});    
						// obj.update({
						// 	username: '123'
						// 	,title: 'xxx'
						// });
					}
				});

				//监听事件
				table.on('toolbar(agent_staff_table)', function(obj){
					var checkStatus = table.checkStatus(obj.config.id);

					switch(obj.event){
						case 'add':
							layer.msg('添加');
							layer.open({
								type: 2 ,
								area: ['500px', '450px'],
								title:"添加",
								content: "/page/add_agent_staff",
								success: function(layero, index){
									var body = layer.getChildFrame('body', index);
									body.find("form[class='layui-form']").val(index);
								},
							})
						break;
						case 'is_enable':
							let data = checkStatus['data'];
							if (data.length > 0) {
							let ids = [];
								$.each(data, function (i, tem) {
									ids.push(tem['user_id']);
								});
								dialog.confirm({
									message:'您确定要删除选中项',
									success:function(){
										staticActive.delBatch(ids, '删除API');
										layer.msg('删除了')
									},
									cancel:function(){
										layer.msg('取消了')
									}
								})
								return false;
							} else {
								layer.msg('没有选中行');
							}
						break;
					};
				});
			});
		</script>
	</body>

</html>