<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include 'script.html' %}
    <div class="layui-card">
        <div class="layui-card-body">
                <form class="layui-form"  action="">
                    <div class="layui-form-item layui-row" style="display: none">
                        <label class="layui-form-label">主键id</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="id"   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">规则名</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="rule_name"   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">游戏</label>
                        <div class="layui-input-block">
                        <select id = 'game_id' name="game_id" lay-search  >   
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">优惠券</label>
                        <div class="layui-input-block">
                        <select id = 'coupon_id' name="coupon_id" lay-search  >   
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">得分</label>
                        <div class="layui-input-block ">
                            <input type="text"  name="score" lay-verify="number"  autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-row" >
                        <label class="layui-form-label">玩的次数</label>
                        <div class="layui-input-block ">
                                <input type="text"  name="play_count_range" id='play_count_range' disabled style="display: none" autocomplete="off" class="layui-input">
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <input type="text"  id="play_count_range_start" placeholder='开始值'  value = 0 lay-verify="required|number"  autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <input type="text"  id="play_count_range_end" placeholder='结束值'  value = 50  lay-verify="required|number"  autocomplete="off" class="layui-input">
                            </div>
                            <div id="play_count_range_slide"></div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                    </div>
                </form>
        </div>
    </div>
    
    <script>
        function init(data){
            let play_count_range_array = data.play_count_range
            let value;
            //初始化滑块数值
            if(play_count_range_array.length===1){
                value = [play_count_range_array[0],play_count_range_array[0]]
            }else if(play_count_range_array.length===2){
                value = [play_count_range_array[0],play_count_range_array[1]]
            }
            layui.use(['form','slider'], function(){
                var form = layui.form;
                var slider = layui.slider;  
                //滑块渲染
                var ins = slider.render({
                    elem: '#play_count_range_slide',  //绑定元素
                    min:0,
                    max:10000,
                    range:true,//出现两个可拖拽的环
                    value:[0,50],//滑块初始值，若开启了滑块为范围拖拽（即 range: true），则需赋值数组
                    input:true,//双环滑块时无效
                    change:function(value){
                        $('#play_count_range_start').val(`${value[0]}`)
                        $('#play_count_range_end').val(`${value[1]}`)
                        $('#play_count_range').val(`[${value}]`)
                        form.render();
                    }
                });
            //绑定的input也一起初始化
            $('input[name="play_count_range"]').val('[0,50]')
            form.render();


            //监控input改变
            $("#play_count_range_start").bind("change", function() {
                let value =$(this).val()
                if(value<ins.config.min)value = ins.config.min;
                if(value>ins.config.max)value = ins.config.max;
                let range_value = eval($('#play_count_range').val())

                //如果开始值大于结束值，则调回位置
                if(value>range_value[1]){
                   layer.msg('开始值要小于结束值')
                   ins.setValue(ins.config.min,0 )
                   return false
                }else{
                    ins.setValue(value, 0) //设置开始值
                }
                form.render()
                
            });
            $("#play_count_range_end").bind("change", function() {
                let value =$(this).val()
                if(value<ins.config.min)value = ins.config.min;
                if(value>ins.config.max)value = ins.config.max;
                let range_value = eval($('#play_count_range').val())

                //如果结束值小于开始值，则调回位置
                if(value<range_value[0]){
                    layer.msg('结束值要 大于开始值')
                    ins.setValue(ins.config.max,1)
                   return false
                }else{
                    ins.setValue(value, 1) //设置末尾值
                }
                form.render()
 
            });
            })
        }
    </script>


    

    <!-- 监听提交 -->
    <script>
    //要先检查是否有覆盖，根据游戏和优惠券筛选但不包括自身
     function check_range(id,game_id,coupon_id){
        return new Promise((resolve,reject)=>{
            $.ajax({
                url     : `/data/game_coupon_rule?select=play_count_range,rule_name&game_id=eq.${game_id}&coupon_id=eq.${coupon_id}&id=not.eq.${id}`,
                type    : 'GET',
                dataType: "json",
                success : result=>resolve(result),
                error   : err=>reject(err),
            })
        })
    }   

    layui.use('form', function(){
    var form = layui.form;
    form.on('submit(formDemo)', function(data){
        let edit_range = eval(data.field.play_count_range)
        let comparison;

        check_range(data.field.id,data.field.game_id,data.field.coupon_id)
        .then(result=>{
            if(result.length!==0){
                /**存在优惠券,检查区间.判断思路:如果区间不相交，要么添加区间的最小值应该大于比较区间的最大值，要么添加区间的最大值小于比较区间的最小值
                 * 只要有存在一个就返回含有该元素的数组，否则返回undefined**/
                comparison=result.find(element=>{
                    let sql_range = eval(element.play_count_range)
                    if(Math.min(...edit_range) > Math.max(...sql_range)){
                        //通过
                        return false
                    }
                    else if(Math.max(...edit_range)<Math.min(...sql_range)){
                        //通过
                        return false
                    }
                    else{
                        layer.msg(`存在玩的次数有交集的规则,规则名为：${element.rule_name}`);
                        return element
                    }
                })
            }
           // 如果数据库无此数据或者无交集区间
            if(!comparison||result.length===0){
                $.ajax({
                    url        : `/api/game_coupon_rule/edit_rule`,
                    type       : "POST",
                    dataType   : "json",
                    data       : JSON.stringify(data.field),
                    contentType: 'application/json; charset=utf-8',
                    //由于插入成功后postres没有返回数据
                    success:function(data){
                        if(data.success===true){
                            layer.msg('更新成功!');
                            setTimeout(function(){ 
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭   
                                parent.layui.table.reload('game_coupon_ruleTable');//刷新父表格  
                            }, 1000);
                        }
                        else{
                            layer.msg('更新失败!');
                            return false
                        }
                    },

                })
            }
        })
        .catch(err=>{
            console.error(err)
            return false
        })
        return false;
    });
    });
    </script>


</html>