<style>
        .file {
        position: relative;
        display: inline-block;
        background: #009688;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        background: #10b3a2;
        border-color: #10b3a2;
        color: #ffffff;
        text-decoration: none;
    }
</style>