<!DOCTYPE html>
<html>
    {%include "head.html" %}
    {% include "script.html" %}
    {% include "js/getShopGroup.html" %}
    {% include "js/getPCAscript.html"%}
    {% include "js/uploadImg.html"%}
    {% include "js/uploadCSS.html"%}
    <div class="layui-card">
        <div class="layui-card-body">
        <form class="layui-form"  action="">
                <div class="layui-form-item layui-row" style="display:none" >
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block ">
                        <input type="text" id = 'shop_id'   lay-verify="required" name="shop_id"  defaultVal='noId'  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <label class="layui-form-label">店铺名</label>
                    <div class="layui-input-block ">
                        <input type="text" name="name"   lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-row" >
                    <label class="layui-form-label">店铺图片</label>
                    <div class="layui-input-block " >
                        <a href="javascript:;" class="file">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                            <input type="file" id="upload" class="">
                        </a>
                    </div>
                </div>

                <div class="layui-form-item layui-row" >
                    <label class="layui-form-label">店铺图片url</label>
                    <div class="layui-input-block ">
                        <input type="text"  name="shop_logo"  disabled autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form" lay-filter="province">
                    <label class="layui-form-label">省份</label>
                    <div class="layui-input-block">
                        <select id = 'province' name="province"  lay-search   lay-verify="required" lay-filter="province">   
                        </select>
                </div>
                <div class="layui-form" lay-filter="city">
                    <label class="layui-form-label">市</label>
                    <div class="layui-input-block">
                        <select id = 'city' name="city" lay-search   lay-verify="required" lay-filter="city" >   
                        </select>
                </div>
                <div class="layui-form" lay-filter="area">
                    <label class="layui-form-label">区</label>
                    <div class="layui-input-block">
                        <select id = 'area' name="area" lay-search   lay-verify="required"  lay-filter="area" >   
                        </select>
                </div>
                <div class="layui-form-item" >
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="local_address"  lay-search   lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">负责人名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="shop_manager"   lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">负责人手机号码	</label>
                    <div class="layui-input-block">
                        <input type="text" name="mobile"  lay-verify="required|number|phone"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form" lay-filter="group_id">
                <label class="layui-form-label">所属品牌</label>
                <div class="layui-input-block">
                    <select id = 'group_id' name="group_id" lay-search  >   
                    </select>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">营业执照编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="license"  lay-verify="required"  lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">经度</label>
                    <div class="layui-input-block">
                        <input type="text" name="longitude"  lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">纬度</label>
                    <div class="layui-input-block">
                        <input type="text" name="latitude"  lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item "style="display:none">
                    <label class="layui-form-label">添加人</label>
                    <div class="layui-input-block">
                        <input type="text" id = 'add_user_id' name="add_user_id"   defaultVal='noUser'  autocomplete="off" class="layui-input">
                    </div>
                </div>       
                <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
                </div>

        </form>
        </div>
    </div>   


    <!-- 动态赋值 -->
    <script>
        layui.use('form', function(){
            var form = layui.form;
            $.ajax({
                url     : `/api/tool/getJwtInfo`,
                type    : "get",
                success: function(result){
                    $('#add_user_id').val(result.data.user_id)
                    form.render();
                }
            })
            $.ajax({
                url     : `/api/common/generate_key`,
                type    : "get",
                success: function(result){
                    $('#shop_id').val(result.data)
                    form.render();
                }
            })

             //品牌，仅is_enable=1
             getShopGroup()
            .then(result=>{
                if(result){
                    for(element of result){
                        $('#group_id').append(`<option value=${element.group_id}>${element.group_name}</option>`)
                    }
                    $('#group_id').append(`<option selected value='-1'>请选择</option>`)
                    $('#group_id').append(`<option selected value=''>无所属品牌</option>`)//group_id=''，则表示没有品牌
                    form.render()
                }
              
            })
            .catch(err=>{
                $('select[name="group_id"]').append(`<option value='-1' disable>获取数据失败</option>`);
                form.render();
                console.error(err)
            })

            //获得省
            get_province()
            .then(result=>{
                $('#province').append(`<option value="-1" selected>请选择省</option>`);
                $('#city').append(`<option value="-1" selected>请选择市</option>`);
                $('#area').append(`<option value="-1" selected>请选择区</option>`);
                for(element of result.data){
                    $('#province').append(`<option value=${element.value}>${element.label}</option>`);
                        }
                    form.render('select','province');
            })
            .catch(err=>{
                $('#province').empty()
                $('#province').append(`<option value="-1" selected>获取失败</option>`);
                console.error(err)
            })

            //动态获得市
            form.on('select(province)', function(data){
                get_city(data.value)
                .then(result=>{
                    $('#city').empty();
                    $('#area').empty();
                    $('#city').append(`<option value="-1" selected>请选择市</option>`);
                    $('#area').append(`<option value="-1" selected>请选择区</option>`);
                    for(element of result.data){
                        $('#city').append(`<option value=${element.value}>${element.label}</option>`);
                    }
                    form.render('select','city');
                })
                .catch(err=>{
                $('#province').empty()
                $('#province').append(`<option value="-1" selected>获取失败</option>`);
                console.error(err)
                })
            });    
            
            //获得区
            form.on('select(city)', function(data){
                get_area(data.value)
                .then(result=>{
                    $('#area').empty()
                    $('#area').append(`<option value="-1" selected>请选择区</option>`)
                    for(element of result.data){
                        $('#area').append(`<option value=${element.value}>${element.label}</option>`);
                    }
                    form.render('select','area');
                })
                .catch(err=>{
                $('#province').empty()
                $('#province').append(`<option value="-1" selected>获取失败</option>`);
                console.error(err)
                })
            });  

                //上传图片
            $('#upload').bind("change", function(e){
                let id = $('#shop_id').val() //因为异步的关系，id必须是在方法里面
                let upload_img = $('#upload');
                let url = '/api/tool/upload_img_shop'
                uploadImg(upload_img,id,url)
                .then(result=>{
                    layer.msg('上传成功')
                    $('input[name="shop_logo"]').val(result.data.url);
                    form.render();
                    return false
                })
                .catch(err=>{
                    layer.msg('上传失败')
                    console.error(err)
                    return false
                })
            })
   

         });
       
    </script>
    <!-- 提交监听 -->
    <script>
    layui.use('form', function(){
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function(data){
        //判断省份
        if(data.field.province==='-1'||data.field.province===''){
            layer.msg('请选择省份');
            return false
        }else if(data.field.city==='-1'||data.field.city===''){
            layer.msg('请选择市');
            return false
        }
        else if(data.field.area==='-1'||data.field.area===''){
            layer.msg('请选择区');
            return false
        }
        //判断品牌
        if(data.field.group_id==='-1'){
            layer.msg('请选择品牌');
            return false
        }
        //判断url
        if(data.field.shop_logo===''){
            layer.msg('请上传图片');
            return false
        }

        var province =  $('#province').find("option:selected").text();
        var city =  $('#city').find("option:selected").text();
        var area =  $('#area').find("option:selected").text();
        var p_c_a_text = `{"${province}","${city}","${area}"}`;
        var p_c_a_id = `{"${data.field.province}","${data.field.city}","${data.field.area}"}`;
        let insert = data.field;
        delete insert.province;
        delete insert.city;
        delete insert.area;

        insert['p_c_a_text'] = p_c_a_text;
        insert['p_c_a_id'] = p_c_a_id;

        $.ajax({
            url        : `/data/shop`,
            type       : "POST",
            dataType   : "json",
            data       : JSON.stringify(insert),
            contentType: 'application/json; charset=utf-8',
            //由于插入成功后postres
            error:function(data){
                if(data.status=="201"){
                    layer.msg('添加成功!');
                    setTimeout(function(){ 
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭  
                        parent.layui.table.reload('shopTable');//刷新父表格  
                    }, 1000);
                    form.render();
                }else{
                    layer.msg('添加失败!');
                }
            },
            complete:function(XHR){
               //console.log(XHR.responseJSON)
            }
        })
        return false;
    });
    });
    </script>



</html>